POSTGRES_DB=worknest_db
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432
APP_PORT=8080
JWT_SECRET_BASE64=Zm9yLWRldmVsb3BtZW50LW9ubHktcmVwbGFjZS13aXRoLWEtbG9uZy1zZWN1cmUtYmFzZTY0LXNlY3JldA==

# Mail Configuration
MAIL_FROM_ADDRESS=info@worknest.com
MAIL_FROM_NAME=WorkNest
MAIL_REPLY_TO=info@worknest.com
# Use standard SMTP settings for local testing (e.g. Mailtrap or similar)
MAIL_HOST=localhost
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
