POSTGRES_DB=worknest_db
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432
APP_PORT=8080
JWT_SECRET_BASE64=Zm9yLWRldmVsb3BtZW50LW9ubHktcmVwbGFjZS13aXRoLWEtbG9uZy1zZWN1cmUtYmFzZTY0LXNlY3JldA==

# Mail Configuration
MAIL_FROM_ADDRESS=info@worknest.com
MAIL_FROM_NAME=WorkNest
MAIL_REPLY_TO=info@worknest.com
# Use standard SMTP settings for local testing (e.g. Mailtrap or similar)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=digimenu10@gmail.com
MAIL_PASSWORD=furz dvlq fref qqpz

# Cloudflare Tunnel Configuration
APP_TUNNEL_URL=https://proof-transcription-recommendation-randy.trycloudflare.com
# 2. The FRONTEND Tunnel (Update with your new frontend tunnel URL)
# Example: https://bright-sun-moon-stars.trycloudflare.com
APP_FRONTEND_URL=https://sheet-sticker-specs-science.trycloudflare.com
# 3. Points activation links to the Frontend
APP_FRONTEND_ACTIVATION_LINK_BASE=${APP_FRONTEND_URL}/activate-invitation
# 4. CORS must allow the frontend tunnel to talk to the API tunnel
APP_SECURITY_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,${APP_FRONTEND_URL}
# 5. Reset password
APP_FRONTEND_RESET_PASSWORD_LINK_BASE=${APP_FRONTEND_URL}/reset-password
